<header>
    <i class="fa-solid fa-circle-xmark"></i>
</header>
<article>
    <p>Caro(a) {{customer}},</p>

    <p>Queríamos aproveitar este momento para expressar nossa sincera gratidão pela sua recente compra da camiseta da
        nossa banda de música. O seu apoio como fã significa tudo para nós, e estamos verdadeiramente agradecidos pela
        sua decisão de usar a nossa mercadoria.
    </p>
    <p>Tenha a certeza de que anotamos o seu endereço de entrega e faremos todos os esforços para enviar a sua camiseta
        prontamente. Valorizamos a sua paciência e compreensão enquanto trabalhamos para entregar o seu pedido
        rapidamente.
    </p>
    <p>Mais uma vez, queremos expressar nossa profunda gratidão pelo seu apoio. Sua compra não apenas nos ajuda
        financeiramente, mas também nos motiva a continuar criando e compartilhando nossa música com o mundo. Mal
        podemos esperar para que você receba a sua camiseta e se junte a nós ao representar orgulhosamente a nossa
        banda.
    </p>
    <p>Mais uma vez, obrigado por ser um fã incrível e por apoiar a nossa jornada musical.
    </p>
    <p>Rock on!
    </p>
    <p>Dul and Nouk White</p>
</article>
