<header>
    <i class="fa-solid fa-circle-xmark"></i>
</header>
<article>
    <p>Cher {{client}},</p>

    <p>Nous voulions profiter de ce moment pour exprimer notre sincère gratitude pour votre récent achat du
        notre groupe de musique. Votre soutien en tant que fan signifie tout pour nous, et nous sommes vraiment reconnaissants pour le
        votre décision d'utiliser notre marchandise.
    </p>
    <p> Soyez assuré que nous avons noté votre adresse de livraison et ferons tout notre possible pour vous expédier votre chemise.
        facilement. Nous apprécions votre patience et votre compréhension pendant que nous nous efforçons de livrer votre commande.
        rapidement.
    </p>
    <p>Une fois de plus, nous tenons à exprimer notre profonde gratitude pour votre soutien. Votre achat nous aide non seulement
        financièrement, mais cela nous motive également à continuer à créer et à partager notre musique avec le monde. Mauvais
        nous avons hâte que vous receviez votre t-shirt et rejoignez-nous pour représenter fièrement notre
        groupe.
    </p>
    <p>Merci encore d'être un fan incroyable et de soutenir notre voyage musical.
    </p>
    <p>Rock on!</p>
    <p>Dul and Nouk White</p>
</article>


