<!DOCTYPE html>
<html lang="{{lang}}">
{{{header}}}
<body>
<main>
    <header>
        <img src="/img/fundo5.jpg" alt="Dul N'Nouk White"/>
    </header>
    {{{article}}}
    <footer>
        <a href="https://www.facebook.com/dulandnoukwhite">
            <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="https://www.instagram.com/dulandnoukwhiteband/">
            <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="https://www.youtube.com/c/DulNNoukWhite">
            <ion-icon name="logo-youtube"></ion-icon>
        </a>
    </footer>
</main>
<script src="/node_modules/store2/dist/store2.min.js"></script>
<script type="text/javascript" src="/js/index.js?{{cache}}"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_yeyxce62.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
</body>
</html>