<!DOCTYPE html>
<html lang="{{lang}}">
{{{header}}}
<body>
<main>
    <header>
        <img src="img/fundo5.jpg" alt="Dul N'Nouk White"/>
    </header>
    {{{article}}}
    <footer>
        <a href="https://www.facebook.com/dulandnoukwhite">
            <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="https://www.instagram.com/dulandnoukwhiteband/">
            <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="https://www.youtube.com/c/DulNNoukWhite">
            <ion-icon name="logo-youtube"></ion-icon>
        </a>
    </footer>
</main>
<div>
    <i class="fa-solid fa-cart-shopping"></i>
</div>
<script src="/js/store.js?{{cache}}"></script>
<script src="/node_modules/accounting/accounting.min.js"></script>
<script src="/node_modules/store2/dist/store2.min.js"></script>
<script src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
<script src="/node_modules/mustache/mustache.min.js"></script>
<script src="/node_modules/@jvitela/mustache-wax/dist/mustache-wax.min.js"></script>
</body>
</html>