<article>
    <h1>dul and nouk white</h1>
    <h2 class="muted">
        <img class="record" src="/img/vynil1.png" alt="Dul N'Nouk White | Orgânico"/>
        <img class="click" src="/img/click.gif" alt="Dul N'Nouk White"/>
    </h2>
    <p>
        Les Dul and Nouk White sont un groupe de rock alternatif madérien avec un répertoire composé de chansons originales qui visitent des genres musicaux très différents, tels que le rock, le fado, le blues, la pop, le jazz et la musique du monde. Cependant, les vêtements impliqués dans ce répertoire éclectique font que le groupe ajoute quelques caractéristiques sonores qui donnent lieu à leurs compositions particulières, qui, en direct, deviennent d'authentiques Journeys.
    </p>
    <p>
        [ <i>" La musique de DUL est une expérience unique à travers des thèmes qui suggèrent différents types de sentiments. Ils visitent la joie et l'intervention, avec des thèmes tels que "Marche du Peuple Sangra" et "Fun&Farra", il embrasse fortement l'intensité d'un voyage tribal, avec des thèmes tels que "Bird on a String", et se remémorent dans l'introspection sur l'amour, dans des thèmes tels que "About a Boy" et "Amor Epithelial." Vers la fin de ce voyage émotionnel éclectique, ils donnent également au goût une petite dose de nostalgie qui se cache, innocemment, derrière des interprétations très spécifiques de thèmes tels que "Gaivota", d'Amália Rodrigues, et "O Prelúdio Para a Laurindinha", un thème qui combine l'interprétation du thème bien connu "Laurindinha" d'António Mourão , avec un prélude créé par le groupe lui-même. "</i> ] - (dans la presse)
    </p>
    <div class="flags">
        <a href="/en">en</a>
        <span>|</span>
        <a href="/pt">pt</a>
    </div>
</article>
<audio preload="metadata" loop>
    <source src="/mp3/test6.mp3" type="audio/mpeg">
</audio>
<section class="permission muted">
    <ion-icon name="volume-mute-outline"></ion-icon>
    <ion-icon name="volume-off-outline"></ion-icon>
</section>