<article>

    <p>El arte visual de la portada del disco Dul and Nouk White, fue diseñado por el artista Sílvio Pita, y aborda, por
        detalle, todo el plano tridimensional de la existencia que incluye los cinco organismos interpretadores que
        forman el núcleo del proyecto. El proceso de la Vida se representa aquí como un ciclo infinito, donde el Cosmos se
        lugar de principio y fin, fundiéndose así la zona neural del interior de la tierra, donde
        micelio, raíces y semillas, con el Universo expandido, de donde venimos y a donde regresaremos, lugar
        donde se encuentran todos los componentes básicos para el desarrollo de la Vida en la Tierra.</p>

    <p>El árbol se representa aquí como el ser vivo que atraviesa los tres planos de existencia, y que contribuye,
        activamente, en la descomposición y concepción del concepto que tenemos de la Vida, tomándolo disperso en los extremos de nuestra
        sus ramas hacia el cielo, catapultándonos, nuevamente, hacia el final que también es un comienzo.</p>

    <section>
        <figure>
            <img src="/img/Frente_fundo_azul.jpg" alt="T-shirt devant" style="width:100%">
            <figcaption>Devant</figcaption>
        </figure>
        <figure>
            <img src="/img/Tshirt_verso.jpg" alt="Dos du tee-shirt" style="width:100%">
            <figcaption>Dos du tee-shirt</figcaption>
        </figure>
    </section>
    <form>
        <div class="form-group mb-3">
            <label for="size">Choisir la taille</label>
            <select class="form-control" id="size" name="size" required>
                <option value disabled selected>Cliquez pour afficher la liste des options</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
        </div>
        <div class="form-group mb-5">
            <label for="qtd">Choisissez une quantité</label>
            <input type="number" class="form-control" id="qtd" name="qtd" placeholder="1" value="1" min="1"
                   required>
        </div>
        <div class="form-group mb-3">
            <input class="btn btn-primary" type="submit" value="Ajouter au panier"/>
        </div>
    </form>
</article>
<div onclick="window.location = '/fr';" title="Cliquez pour revenir à la page principale !">
<i class="fa-solid fa-house"></i>
<span>Retourner</span>
</div>