<footer>
    <a href="https://www.facebook.com/dulandnoukwhite">
        <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a href="https://www.instagram.com/dulandnoukwhiteband/">
        <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a href="https://www.youtube.com/c/DulNNoukWhite">
        <ion-icon name="logo-youtube"></ion-icon>
    </a>
</footer>