<head>
    <meta charset="UTF-8" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <title>Dul N'Nouk White</title>
    <meta name="description" content="Dul and Nouk White are a Madeiran alternative rock band with a repertoire consisting mostly of original themes that visit very different musical genres, such as rock, fado, blues, pop, jazz and world music." />
    <meta name="keywords" content="dul organic orgânico music madeira rock pop portugal" />
    <meta name="author" content="dul and nouk white" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css?{{cache}}"/>
    <link rel="stylesheet" href="/css/store.css?{{cache}}"/>
    <link rel="icon" type="image/jpg" href="/img/favicon.jpg"/>
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css"/>
    <script type="module" src="//unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>