<article>

    <p>The visual art of the Dul and Nouk White album cover, was designed by the artist Sílvio Pita, and addresses, by
        detail, the entire three-dimensional plane of existence which includes the five interpreting organisms that
        form the core of the project. The Life process is represented here as an infinite cycle, where the Cosmos is
        place of beginning and end, thus merging the neural zone of the interior of the earth, where the
        mycelia, roots and seeds, with the expanded Universe, from where we came and where we will return, place
        where all the basic components for the development of Life on Earth are found.</p>

    <p>The tree is represented here as the living being that traverses the three planes of existence, and that contributes,
        actively, in the decomposition and conception of the concept that we have of Life, taking it dispersed at the ends of our
        its branches towards the heavens, catapulting us, again, towards the end that is also a beginning.</p>

    <section>
        <figure>
            <img src="/img/Frente_fundo_azul.jpg" alt="T-Shirt Front" style="width:100%">
            <figcaption>Front</figcaption>
        </figure>
        <figure>
            <img src="/img/Tshirt_verso.jpg" alt="T-Shirt Back" style="width:100%">
            <figcaption>Back</figcaption>
        </figure>
    </section>
    <form>
        <div class="form-group mb-3">
            <label for="size">Choose size</label>
            <select class="form-control" id="size" name="size" required>
                <option value disabled selected>Click to show list of options</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
        </div>
        <div class="form-group mb-5">
            <label for="qtd">Choose a quantity</label>
            <input type="number" class="form-control" id="qtd" name="qtd" placeholder="1" value="1" min="1"
                   required>
        </div>
        <div class="form-group mb-3">
            <input class="btn btn-primary" type="submit" value="Add to Cart"/>
        </div>
    </form>
</article>
<div onclick="window.location = '/en';" title="Click to go back to the main page!">
<i class="fa-solid fa-house"></i>
<span>Go Back</span>
</div>