<article>
    <h1>dul and nouk white</h1>
    <h2 class="muted">
        <img class="record" src="/img/vynil1.png" alt="Dul N'Nouk White | Orgânico"/>
        <img class="click" src="/img/click.gif" alt="Dul N'Nouk White"/>
    </h2>
    <p>
        Dul and Nouk White are a Madeiran alternative rock band with a repertoire consisting of original themes that visit very different musical genres, such as rock, fado, blues, pop, jazz and world music. However, the clothing involved in this eclectic repertoire makes the band add some sound characteristics that give rise to their peculiar compositions, which, live, become authentic Journeys.
    </p>
    <p>
        [ <i>" DUL's music is a unique experience through themes that suggest various types of feelings. They visit joy and intervention, with themes such as “March of the People Sangra” and “Fun&Farra”, it strongly embraces the intensity of a tribal journey, with themes such as “Bird on a String”, and recollect themselves in introspection about love, in themes such as “About a Boy” and “Amor Epithelial.” Towards the end of this eclectic emotional journey, they also give the taste a small dose of nostalgia that hides, innocently, behind very specific interpretations of themes such as “Gaivota”, by Amália Rodrigues, and “O Prelúdio Para a Laurindinha”, a theme that combines the interpretation of the well-known theme " Laurindinha” by António Mourão, with a prelude created by the band itself. "</i> ] — (in press)</p>
    <div class="flags">
        <a href="/pt">pt</a>
        <span>|</span>
        <a href="/fr">fr</a>
    </div>
</article>