<header>
    <i class="fa-solid fa-circle-xmark"></i>
</header>
<article>
    <p>Dear {{customer}},</p>

    <p>We wanted to take a moment to express our sincere appreciation for your recent purchase of our music band
        t-shirt. Your support as a fan means everything to us, and we are truly grateful for your decision to wear
        our merchandise.
    </p>
    <p>Please rest assured that we have taken note of your shipping address, and we will make every effort to
        dispatch your t-shirt promptly. We value your patience and understanding as we work to get your order to you
        swiftly.
    </p>
    <p>Once again, we want to express our deepest gratitude for your support. Your purchase not only helps us
        financially but also motivates us to continue creating and sharing our music with the world. We can't wait
        for you to receive your t-shirt and join us in proudly representing our band.
    </p>

    <p>Thank you once again for being an incredible fan and for supporting our musical journey.
    </p>
    <p>Rock on!</p>

    <p>Dul and Nouk White</p>
</article>

