<header>
    <h1>As tuas T-Shirts</h1>
    <i class="fa-solid fa-circle-xmark"></i>
</header>
<main>
    <table>
        <tbody>
        {{#checkout}}
            <tr>
                <td>Tamanho {{size}}</td>
                <td>x{{amount}}</td>
                <td>{{total | price}}</td>
            </tr>
        {{/checkout}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">total: {{total | price}}</td>
            </tr>
        </tfoot>
    </table>
</main>
<footer>
    <button type="button" class="btn btn-danger">Cancelar</button>
    <button type="button" class="btn btn-success">Finalizar compra</button>
</footer>