<article>
    <h1>dul and nouk white</h1>
    <h2 class="muted">
        <img class="record" src="/img/vynil1.png" alt="Dul N'Nouk White | Orgânico"/>
        <img class="click" src="/img/click.gif" alt="Dul N'Nouk White"/>
    </h2>
    <p>
        Os Dul and Nouk White são uma banda de rock alternativo madeirense com um repertório constituído por temas originais que visitam géneros musicais bastante distintos, tal como o rock, o fado, o blues, o pop, o jazz e a música do mundo. Contudo, a roupagem envolta a este repertório eclético faz com que a banda agregue algumas características sonoras que dão origem às suas peculiares composições, as quais, ao vivo, se tornam em autênticas Viagens.
    </p>
    <p>
        [ <i>" A música dos DUL é uma experiência singular através de temas que sugerem vários tipos de sentimentos. Visitam a alegria e a intervenção, com temas como a “Marcha do Povo Sangra” e “Fun&Farra”, abraça com bastante força a intensidade de uma viagem tribal, com temas como a “Pássaro de Corda”, e se recolhem novamente na introspeção sobre o amor, em temas como a “About a Boy” e o "Amor Epitelial". Quase no final desta eclética viagem emocional, dão também a provar uma pequena dose de saudosismo e nostalgia que se escondem, inocentemente, por detrás de interpretações muito próprias de temas como a “Gaivota”, de Amália Rodrigues, e “O Prelúdio Para a Laurindinha”, tema que junta a interpretação do conhecido tema "Laurindinha” de António Mourão, com um prelúdio criado pela própria banda. ” </i>&nbsp] — (in press)
    </p>
    <div class="flags">
        <a href="/en">en</a>
        <span>|</span>
        <a href="/fr">fr</a>
    </div>
</article>
<audio preload="metadata" loop>
    <source src="/mp3/test6.mp3" type="audio/mpeg">
</audio>
<section class="permission muted">
    <ion-icon name="volume-mute-outline"></ion-icon>
    <ion-icon name="volume-off-outline"></ion-icon>
</section>
<div onclick="window.location = '/pt/store';" title="Clique para entrar na loja!">
<i class="fa-solid fa-store"></i>
<span>Ajude-nos e compre as nossas camisas!</span>
</div>