<article>

    <p>A arte visual da capa do álbum de Dul and Nouk White, foi desenhada pelo artista Sílvio Pita, e aborda, ao
        pormenor, todo o plano tridimensional da existência onde se incluem os cinco organismos intérpretes que
        formam o núcleo do projeto. O processo de Vida é aqui representado como um ciclo infinito, onde o Cosmos é
        lugar de início e de fim, fundindo deste modo a zona neural do interior da terra, onde se encontram os
        micélios, as raízes e as sementes, com o expandido Universo, de onde vimos e para onde retornaremos, lugar
        onde se encontram todos os componentes-base para o desenvolvimento da Vida na Terra.</p>

    <p>A árvore aqui é representada como o ser vivo que atravessa os três planos da existência, e que contribui,
        ativamente, na decomposição e na concepção do conceito que temos de Vida, levando-a dispersa na ponta dos
        seus galhos em direção aos céus, catapultando-nos, novamente, para o fim que é, também um início.</p>

    <section>
        <figure>
            <img src="/img/Frente_fundo_azul.jpg" alt="T-Shirt Frente" style="width:100%">
            <figcaption>Frente</figcaption>
        </figure>
        <figure>
            <img src="/img/Tshirt_verso.jpg" alt="T-Shirt Verso" style="width:100%">
            <figcaption>Verso</figcaption>
        </figure>
    </section>
    <form>
        <div class="form-group mb-3">
            <label for="size">Escolha o tamanho</label>
            <select class="form-control" id="size" name="size" required>
                <option value disabled selected>Clique para mostrar a lista de opções</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
        </div>
        <div class="form-group mb-5">
            <label for="qtd">Escolha uma quantidade</label>
            <input type="number" class="form-control" id="qtd" name="qtd" placeholder="1" value="1" min="1"
                   required>
        </div>
        <div class="form-group mb-3">
            <input class="btn btn-primary" type="submit" value="Adicionar ao carrinho"/>
        </div>
    </form>
</article>
<div onclick="window.location = '/pt';" title="Clique para voltar para a página principal!">
<i class="fa-solid fa-house"></i>
<span>Voltar Atrás</span>
</div>
